/* - - - - - - - - - - - - - - - - - - - - */
/* src/app/cal/cal.css | Calendar Page Styles | Sree | 14 Aug 2024 */
/* - - - - - - - - - - - - - - - - - - - - */

:root {
    --clrWkDs: var(--txtClrSecondary);
    --clrNgbr: #999;
    --clrMnths: var(--txtClrSecondary);
    --clrHglgt: #e8f8e8;
    --clrGood: #28C828;
    --clrBad: #C82828;
}

/* Overall Calendar Container */
.calendarGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 32px;
    width: 100%;
}

.monthCalendar {
    background: none;
}

.monthCalendar p {
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--clrMnths);
}

.react-calendar {
    display: flex;
    width: 100%;
    border: 1px solid var(--clrBorder);
    border-radius: 8px;
    /* padding: 4px; */
    font-size: 16px;
    overflow: hidden;
}

/* Neighboring Month Dates */
.react-calendar__month-view__days__day--neighboringMonth {
    visibility: hidden;
    pointer-events: none;
    color: var(--clrNgbr) !important;
}

.react-calendar__tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 48px;
    min-height: 48px;
    padding: 16px;
    padding: 8px 16px 16px 16px;
    border-radius: 0;
    /* border-top: 0.5px dotted pink !important; */
    position: relative;
    transition: none !important;
    background: white !important;
}
.react-calendar__tile:hover {
    /* background-color: var(--clrHglgt) !important; */
    cursor: pointer;
}

.react-calendar__tile.highlight:hover {
    background: var(--clrHglgt);
}
.react-calendar__tile--active:hover {
    background: var(--clrPrimary) !important;
    color: var(--txtClrPrimary) !important;
}

.highlight {
    background: var(--clrHglgt); /* Highlighting Dates with Logs */
    background: transparent;
}

/* Disable pointer events for cells with the 'empty' class */
.react-calendar__tile.empty {
    pointer-events: none;
    color: var(--clrNgbr) !important;
}


/* Style for today's date */
.react-calendar__tile--now {
    box-shadow: inset 0 0 0 1px var(--clrPrimary);
    border-radius: 4px !important;
}

/* Style for active/selected date */
.react-calendar__tile--active {
    background: var(--clrPrimary) !important;
    color: white !important;

}
/* Ensure other styles do not override the intended active styles */
.react-calendar__tile.highlight {
    background: transparent;
}
.react-calendar__month-view__days__day {
    color: var(--txtClrPrimary);
}

.react-calendar__month-view__weekdays{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    height: 32px;
    color: var(--clrWkDs);
    background: var(--clrBGAlt0);
    border-bottom: 0.5px solid var(--clrBorder);
}

.react-calendar__month-view__days__day--weekend {
    color: red;
}

/* Responsive Design */
@media (max-width: 600px) {
    .calendarGrid {
        grid-template-columns: 1fr;
    }
}

/* - - - - - - - - - - - - - - - - - - - - */
.dot-container {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;
}

.dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
    /* margin: 1px; */
}
/* - - - - - - - - - - - - - - - - - - - - */
.divWrapLog {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 4px;
    align-items: center;
    box-sizing: border-box;
    min-height: 24px;
    /* margin-top: 8px; */
    margin: 8px 0;
    padding: 8px;
    background: var(--clrHglgt);
    border: 1px solid var(--clrBorder);
    border-radius: 4px;
}

.log-values { grid-column: 1; }

.close-icon {
    cursor: pointer;
    margin-left: 8px;
    color: var(--txtClrSecondary);
    font-size: 20px !important;
}

.log-comments {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}
/* - - - - - - - - - - - - - - - - - - - - */