/* - - - - - - - - - - - - - - - - - - - - */
/* src/app/fxStyles.css | Styles for Fx Components | Sree | 06 Aug 2024 */
/* - - - - - - - - - - - - - - - - - - - - */

/* Navbar Styles */
.fxNavBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 64px;
    align-items: center;
    padding: 8px 24px;
    color: var(--text-color);
    background: var(--background);
    border-bottom: 0.5px solid lightgray;
    z-index: 1000;
    /* Fix the navbar at the top */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.fxNavBar>div {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--foreground);
}

.fxNavBar>div:first-child {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.fxNavBar>div:last-child {
    justify-self: flex-end;
}

/* - - - - - - - - - - - - - - - - - - - - */
/* Tab container styles */
.tabsWrap {
    display: flex;
    min-height: 40px;
    max-height: 40px;
    /* max-width: max-content; */
    /* justify-content: space-around; */
    /* justify-self: flex-end; */
    background: lightcyan;
    border: 1px solid lightgray;
}

.tabsWrap, .divTab {
    box-sizing: border-box;
}

:root { --tabBorder: 4px; }

.divTab {
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 16px;
    border-bottom: var(--tabBorder) solid transparent;
    transition: background-color 0.15s ease;
}

.divTab:hover {
    box-sizing: border-box;
    border-bottom: var(--tabBorder) solid var(--border-color);
}

.divTab.active {
    box-sizing: border-box;
    border-bottom: var(--tabBorder) solid var(--button-bg);
}
/* - - - - - - - - - - - - - - - - - - - - */

/* Fixed chat input */
.divInputs {
    background: #333;
    background: var(--secondary-color);
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 10;
    height: 40px;
    align-content: center;
    padding: 0 24px;
    color: #ffffff;
}

.divInputs input {
    width: calc(100% - 20px);
    padding: 5px;
    border-radius: 4px;
    border: none;
}
/* - - - - - - - - - - - - - - - - - - - - */