/* Styles for LifeLogs | Sree | 04 Aug 2024 */

html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevents content overflow */
  }
  
  h1 {
    font-size: 2rem;
    color: var(--foreground);
  }
  
  form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
  
  form input {
    margin: 0;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #fff;
    color: var(--foreground);
  }
  
  form button {
    padding: 5px 10px;
    background-color: lightblue;
    color: #323232;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3; /* Darker shade of primary color */
  }
  
  .table-container {
    flex: 1;
    display: flex;
    justify-content: center; /* Centers the table horizontally */
    overflow-y: auto; /* Allows vertical scrolling */
  }
  
  .table-container table {
    width: 100%;
    max-width: 1400px; /* Restrict maximum width */
    border-collapse: collapse;
    background-color: #fafafa;
    margin-bottom: 20px;
    height: calc(100vh - 100px); /* Adjust according to form height and any other elements */
  }
  
  th, td {
    padding: 10px;
    border: 1px solid var(--secondary-color);
    text-align: left;
  }
  
  th {
    background-color: lightyellow;
    color: slategray;
  }
  
  td input {
    width: 100%;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #fff;
    color: var(--foreground);
  }
  
  td button {
    padding: 5px 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  td button:hover {
    background-color: #0056b3; /* Darker shade of primary color */
  }
  